body{
    background-color: skyblue;
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    position: relative;
    top: 60px;
    font-size: 30px;
}

#backButton{
    color: white;
    font-size: 45px;
    position: absolute;
    top: 1.7%;
    left: 1.7%;
    font-size: 60px;
    text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
#backButton:hover {
    color: silver;
}
  