body{
    background-color: skyblue;
    text-align: center;
    font-family: Arial;
}

#hamburgerMenu{
    color: white;
    font-size: 45px;
    position: absolute;
    top: 1.7%;
    left: 1.7%;
    font-size: 60px;

}

/* When you mouse over the navigation links, change their color */
#hamburgerMenu:hover {
    color: silver;
}

/* The Overlay (background) */
.HM {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    top: 0%;
    background-color: #1b2b36; /* Black fallback color */
    /* background-color: rgba(0,0,0, 0.9);  */
    overflow-x: hidden; 
    transition: 0.5s; /*transition*/
  }
  
  /* Position the content inside the overlay */
  .menu-items {
    position: relative;
    top: 5%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    font-family: Arial;
    margin-top: 2%; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* overlay a tags */
  .HM a {
    padding: 0.8%;
    text-decoration: none;
    font-size: 80px;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /*Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .HM a:hover {
    color: silver;
  }
  
  /* Position the close button (top right corner) */
  .HM .closeHM {
    position: absolute;
    top: 0.3%;
    left: 0.9%;
    font-size: 60px;
  }
  
  /* CALENDER STYLING BELOW */
.MonthDisplay{
    display: none;

}

.WeekDisplay{
    display: block;
}


.DayDisplay{
    display: none;
}


/* *{
  box-sizing: border-box;
} */

ul{
  list-style-type: none;
}
  
/* CALENDER STYLING BELOW */

/* MONTH DISPLAY BELOW */

.CalenderMonthDisplay {
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 0%;
    
    padding-top: 1.5%;
    padding-bottom: 3.5%;

    background: #03960f;
    text-align: center;
  }
  
.CalenderMonthDisplay ul {
  margin: 0;
  padding: 0;
}

.CalenderMonthDisplay ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

  
.CalenderMonthDisplay .CurrentMonth{
  position: absolute;
  left:49%;
}

.MonthDisplayWeekdays {
  margin-top: 0%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: silver;
}
  
.MonthDisplayWeekdays li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
  font-size: 25px;
}

.MonthDisplayDays {
  margin-top: -0.9%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: white;
}
  

.MonthDisplayDays li {
  color: black;
}  

.MonthDisplayDays .Week1 li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size:25px;
  /* margin-top: 1.5%;
  margin-bottom: 1.5%; */

  border-style: solid;
  padding-top: 2.6%;
  padding-bottom: 2.6%;
  margin-left:-0.39%;
}  

.MonthDisplayDays .Week2 li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size:25px;
  /* margin-top: 1.5%;
  margin-bottom: 1.5%; */

  border-style: solid;
  padding-top: 2.6%;
  padding-bottom: 2.6%;
  margin-left:-0.39%;
}  

.MonthDisplayDays .Week3 li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size:25px;
  /* margin-top: 1.5%;
  margin-bottom: 1.5%; */
  border-style: solid;
  padding-top: 2.6%;
  padding-bottom: 2.6%;
  margin-left:-0.39%;
}  

.MonthDisplayDays .Week4 li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size:25px;
  /* margin-top: 1.5%;
  margin-bottom: 1.5%; */
  border-style: solid;
  padding-top: 2.6%;
  padding-bottom: 2.6%;
  margin-left:-0.39%;
}

.MonthDisplayDays .Week5 li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:25px;
  /* margin-top: 1.5%;
  margin-bottom: 1.5%; */
  border-style: solid;
  padding-top: 2.6%;
  padding-bottom: 2.6%;
  margin-left:-0.39%;
}

.CalenderMonthDisplay .prevMonth {
  float: left;
  padding-top: 0.7%;
}

.CalenderMonthDisplay .nextMonth {
  float: right;
  padding-top: 0.7%;
}

.MonthDisplayDays .CurrentDay{
  padding: 1.3% 2.3% 1.3% 2.3%;
  background: #03960f;
  color: white;
}

/* WEEKLY CSS BELOW */

.CalenderWeekDisplay {
  margin-top: 1%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 0%;

  padding-top: 1.5%;
  padding-bottom: 3.5%;
  /* width: 80%; */
  background: #03960f;
  text-align: center;
}

.CalenderWeekDisplay ul {
  margin: 0;
  padding: 0;
}

.CalenderWeekDisplay ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.CalenderWeekDisplay .prevWeek {
  float: left;
  padding-top: 0.7%;
}

.CalenderWeekDisplay .nextWeek {
  float: right;
  padding-top: 0.7%;
}
  
.CalenderWeekDisplay .CurrentMonth{
    position: absolute;
    left:49%;
}

.WeekDates {
  margin-top: 0%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: silver;

  font-size: 25px;

}

.WeekDates li {
  display: inline-block;
  width: 12.7%;
  color: black;
  text-align: center;
}

.WeekDates .CurrentDay {
  padding: 1.3% 2.3% 1.3% 2.3%;
  background: #03960f;
  color: white;
}

 .SingleWeekDays {
  margin-top: 0%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: white;
} 

.SingleWeekDays li {
  list-style-type: none;
  display: inline-block;
  width: 12.5%;
  text-align: center;
  font-size:25px;
  margin-top: 0%;
  margin-bottom: 1.5%;
  margin-left: 0%;
  margin-right:0%;
  border:solid;
  padding-top: 6.2%;
  padding-bottom: 27%;
  padding-left: 0%;
  padding-right: 0%;
}
  
.SingleWeekDays .CurrentDay{
  padding: 1.3% 2.3% 1.3% 2.3%;
  background: #03960f;
  color: white;
}

/* DAILY CSS BELOW */

.CalenderDayDisplay {
  margin-top: 1%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 0%;
  padding-top: 1.5%;
  padding-bottom: 3.5%;

  background: #03960f;
  text-align: center;
}

.CalenderDayDisplay ul {
  margin: 0%;
  padding: 0%;
}

.CalenderDayDisplay ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.CalenderDayDisplay .prevDay {
  float: left;
  padding-top: 0.7%;
}

.CalenderDayDisplay .nextDay {
  float: right;
  padding-top: 0.7%;
}

.CalenderDayDisplay .CurrentMonth{
  position: absolute;
  left:49%;
}

.DisplaySingleDay {
  margin-top: 0%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 0.3%;
  background-color: silver;
}

.DisplaySingleDay li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
  font-size: 25px;
}

.DisplaySingleDay .CurrentDay {
  padding: 1% 1.3% 1% 1.3%;
  background: #03960f;
  color: white;
}

.SingleDay {
  margin-top: -0.9%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 3%;
  padding-bottom: 10%; 
  padding-top: 1%;
  padding-bottom: 1%;
  background: white;
} 

.SingleDay li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size:25px; 
  margin-top: 1.5%;
  margin-bottom: 1.5%; 
  padding-top: 5.8%;
  padding-bottom: 26%;
}

.DisplaySingleDay .CurrentDay{
  padding: 1.3% 2.3% 1.3% 2.3%;
  background: #03960f;
  color: white;
}












.BtnDay{
    position: relative;
    font-size:35px;
    padding: 0.8% 3.5% 0.8% 3.5%;
    border-style: solid;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 1% 1% 0% 0%;
}

.BtnDay:hover{
    color: white;
    background-color: black;
}

.BtnWeek{
  position: relative;
  font-size:35px;
  padding: 0.8% 3.5% 0.8% 3.5%;
  border-style: solid;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin: 1% 1% 0% 0%;
}

.BtnWeek:hover{
  color: white;
  background-color: black;
}

.BtnMonth{
  position: relative;
  font-size:35px;
  padding: 0.8% 3.5% 0.8% 3.5%;
  border-style: solid;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin: 1% 1% 0% 0%;
}

.BtnMonth:hover{
    color: white;
    background-color: black;
}