body{
    background-color: skyblue;
    text-align: center;
    font-family: Arial;
}

h1{
    margin-top:0%;
    margin-bottom: 5%;
    font-size: 70px;
    text-align: center;
}



.Availability1{
    padding:1%;
    border-bottom: solid;
}

.PickUpDays{
    margin: 0% 1% 0% 1%;

    font-size: 35px;
  
}

.DriverName{
  display: inline-block;
  margin: 0% 1% 0% 1%;

  font-size: 35px;

}

.RemoveBTN{
  display: inline-block;
  margin: 0% 1% 0% 1%;
  font-size:25px;
  padding: 0.5%;
  border-style: solid;
  border-radius: 50px;
  color: black;
  background-color: white;
}

.RemoveBTN:hover{
  color:white;
  background-color: black;
  padding: 0.5%;
  border-style: solid;
  border-radius: 50px;
}



.ViewAvailabilities {
  padding:0.5%;
  font-size:25px;
  border-style: solid;
  border-radius: 50px;
  color: black;
  background-color: white;
}

.ViewAvailabilities:hover{
  color:white;
  background-color: black;
  padding: 0.5%;
  border-style: solid;
  border-radius: 50px;
}

#enterAvailableInfo{
  position: absolute;
  display: none;
  left:20%;
  top:0px;
  padding-left:15%;
  padding-right:15%;
  padding-bottom: 5%;
  background-color: silver;
}



/* add avail CSS */



body{
  background-color: skyblue;
  text-align: center;
  font-family: Arial;
}

h1{
  margin-top:0%;
  font-size: 70px;
  text-align: center;
}


#backButton{
  color: black;
  font-size: 45px;
  position: absolute;
  top: 1.7%;
  left: 1.7%;
  font-size: 60px;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
#backButton:hover {
  color: black;
}



.AvailableFrom{
  font-size: 55px;
  padding: 0.25%;
}

.AvailFrom{
  font-size: 20px;
  padding: 0.3%;
}

.AMPM{
  font-size: 20px;
  padding: 0.3%;
}

.AvailableUntil{
  font-size: 55px;
  padding: 0.25%;
}

.AvailUntil{
  font-size: 20px;
  padding: 0.3%;
}
.AMPM2{
  font-size: 20px;
  padding: 0.3%;
}

.SelectDay{
  font-size: 40px;
}

.days{
  font-size: 25px;
}

.addDriverLB{
  font-size:25px;
  padding: 0.5%;
  border-style: solid;
  border-radius: 50px;
  color: black;
  background-color: white;
}

.addDriverLB:hover{
  color:white;
  background-color: black;
  padding: 0.5%;
  border-style: solid;
  border-radius: 50px;
}