body{
    background-color: skyblue;
    text-align: center;
    font-family: Arial;
    
}

h1{
    margin-top:0%;
    margin-bottom: 5%;
    font-size: 70px;
    text-align: center;
}

h2{
    position: relative;
    top: 60px;
    font-size: 30px;
}

#hamburgerMenu{
  color: white;
  font-size: 45px;
  position: absolute;
  top: 1.7%;
  left: 1.7%;
  font-size: 60px;

}

/* When you mouse over the navigation links, change their color */
#hamburgerMenu:hover {
  color: silver;
}

/* The Overlay (background) */
.HM {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0%;
  top: 0%;
  background-color: #1b2b36; /* Black fallback color */
  /* background-color: rgba(0,0,0, 0.9);  */
  overflow-x: hidden; 
  transition: 0.5s; /*transition*/
}

/* Position the content inside the overlay */
.menu-items {
  position: relative;
  top: 5%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 2%; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* overlay a tags */
.HM a {
  padding: 0.8%;
  text-decoration: none;
  font-size: 80px;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /*Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.HM a:hover {
  color: silver;
}

/* Position the close button (top right corner) */
.HM .closeHM {
  position: absolute;
  top: 0.3%;
  left: 0.9%;
  font-size: 60px;
}


.ProfilePic{
  display: inline-block;
  margin: 0% 0% 0% 0%;


}
.ChildName{
  display: inline-block;
  margin: 0% 1% 0% 1%;
  font-size: 55px;
}

.ChildSchool{
  display: inline-block;
  margin: 0% 1% 0% 1%;
  font-size: 35px;
}



.AddChild{
  font-size:25px;
  padding: 0.5%;
  border-style: solid;
  border-radius: 50px;
}

.AddChild:hover{
  color:white;
  padding: 0.5%;

  border-style: solid;
  border-radius: 50px;
}

.RemoveChild{
  font-size:25px;
  padding: 0.5%;
  border-style: solid;
  border-radius: 50px;
}

.RemoveChild:hover{
  color:white;
  padding: 0.5%;

  border-style: solid;
  border-radius: 50px;
}




#enterChildInfo{
  position: absolute;
  display: none;
  left:20%;
  top:0px;
  padding-left:15%;
  padding-right:15%;
  padding-bottom: 5%;
  background-color: silver;
}




/* Addchild CSS */
















.forms {

flex-direction: column;
justify-content: space-around;
margin-top:-1%;
font-size: 20px;
}

.forms label{
  font-size: 25px;
  margin-top:1.5%;
}

.forms input{
  margin-top:5%;
  font-size: 25px;

}

.forms .AddChild{
  font-size: 20px;
}

#topFormLabel {
  font-weight: bold;
}

#emergencyFormLabel {
  font-weight: bold;
}

#topForm {
  font-size: 20px;
  font-weight: normal;
}

#emergencyForm {
  font-size: 20px;
  font-weight: normal;
}

#backButton{
  color: black;
  font-size: 45px;
  position: absolute;
  top: 1.7%;
  left: 1.7%;
  font-size: 60px;
  text-decoration: none;
}

/* When you mouse over the back button, change its color */
#backButton:hover {
  color: white;
}

.SubmitChild{
  padding: 3% 5% 3% 5%;
  color:black;
  background-color: white;
}


/* .AddChild{
  margin-top: 15%;
  font-size:25px;
  padding: 1.5%;
  border-style: solid;
  border-radius: 50px;
}

.AddChild:hover{
  color:white;
  padding: 1.5%;

  border-style: solid;
  border-radius: 50px;
} */
